/* Charter */

@font-face {
  font-family: 'XCharter';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/XCharter-Roman.woff2") format("woff2"),
  url("../fonts/XCharter-Roman.woff") format("woff");
}
@font-face {
  font-family: 'XCharter';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/XCharter-Italic.woff2") format("woff2"),
  url("../fonts/XCharter-Italic.woff") format("woff");
}

@font-face {
  font-family: 'XCharter';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/XCharter-Bold.woff2") format("woff2"),
  url("../fonts/XCharter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'XCharter';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/XCharter-BoldItalic.woff2") format("woff2"),
  url("../fonts/XCharter-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-BoldItalic.woff2") format("woff2"),
  url("../fonts/XCharter-BoldItalic.woff") format("woff");
}

/* Inter */

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
  url("../fonts/Inter-Regular.woff") format("woff");
  font-feature-settings: "cv01", "cv07", "cv08", "cv10", "case", "zero";
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-Italic.woff2") format("woff2"),
  url("../fonts/Inter-Italic.woff") format("woff");
  font-feature-settings: "cv01", "cv07", "cv08", "cv10", "case", "zero";
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
  url("../fonts/Inter-Bold.woff") format("woff");
  font-feature-settings: "cv01", "cv07", "cv08", "cv10", "case", "zero";
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-BoldItalic.woff2") format("woff2"),
  url("../fonts/Inter-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
  url("../fonts/Inter-Black.woff") format("woff");
  font-feature-settings: "cv01", "cv07", "cv08", "cv10", "case", "zero";
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-BlackItalic.woff2") format("woff2"),
  url("../fonts/Inter-BlackItalic.woff") format("woff");
  font-feature-settings: "cv01", "cv07", "cv08", "cv10", "case", "zero";
}


/* Julia Mono */

@font-face {
   font-family: 'JuliaMono';
   font-style: 'normal';
   font-display: auto;
   font-weight: 400;
   src: url("../fonts/JuliaMono-Regular.woff2") format("woff2");
}

@font-face {
   font-family: 'JuliaMono';
   font-style: 'italic';
   font-display: auto;
   font-weight: 400;
   src: url("../fonts/JuliaMono-Italic.woff2") format("woff2");
}

@font-face {
   font-family: 'JuliaMono';
   font-style: 'normal';
   font-display: auto;
   font-weight: 600;
   src: url("../fonts/JuliaMono-Bold.woff2") format("woff2");
}

@font-face {
   font-family: 'JuliaMono';
   font-style: 'normal';
   font-display: auto;
   font-weight: 600;
   src: url("../fonts/JuliaMono-BoldItalic.woff2") format("woff2");
}
